<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Horoscope</title>

  <!-- We need to bring in the bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="html2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <!-- Start Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
          <dt>Horoscope</dt>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">User Input</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="index.html#">More Information</a>
          </li>
        </ul>
      </div>
  </nav>
    <br>

    <!-- Main Body goes in Container -->
    <div class="container">
        <div class="row">
          <div class="col-lg-9">
          <!-- The content in this div gets wrapped in a card -->
            <div class="card">
              <div class="card-body">
                Identify your Horoscope, See insight for future
              </div>
            </div>
          </div>
        </div>
            
        <div class="row">
          <div class="col-lg-3">
            <img class="card-img-left" src="https://sites.psu.edu/siowfa15/files/2015/09/fate.jpg" alt="Card image cap" width="300" height="255">
          </div> 
          <div class="col-lg-6">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12 form-inline">
                          <table class="table table-bordered">
                              <thead class="table-title">
                                  <tr>
                                      <th>
                                          <span>Enter your details</span>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody class="body">
                                  <tr class="table_row" style="padding-bottom: 20px;">
                                    <td style="width: 10%">Enter your Name:</td>
                                    <td style="width: 25%">
                                        <input type="text" placeholder="Enter your Name" style="width:auto">
                                    </td>
                                    <td style="width: 10%">Enter your Age:</td>
                                    <td style="width: 25%">
                                        <input type="text" placeholder="Enter your Age" style="width:auto">
                                    </td>
                                  </tr>
                                  
                                  <tr class="table_row">
                                      <td>
                                          <button id="button1" class="btn bluebutton-New" type="button" data-ng-click="submitUserInformation">Submit</button>
                                      </td>
                                      <td>
                                          <button id="button2" class="btn bluebutton-New" type="button" data-ng-click="clearUserInput">Clear</button>  
                                      </td>

                                   </tr>
                              </tbody>

                          </table>


                      </div>
                  </div>
              </div>
            
          </div>
        </div>
    </div>
</body>

<footer class="footer">
  <p>@Copyright</p>
</footer>

</html>