.footer {
    text-align: center;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid
}

.card-body{
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #001A72;
    color:white;
}
.container {
    padding: 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.rounded mx-auto d-block{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    left: 0px;
}
.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    float: right;
    width: 100%;
    margin-bottom: .5%;
    border:1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}
.table-title{
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #001A72;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center
    
}
.title-name{
    color: White;
    font-weight: bold;
}
.table_row{
    display: inherit;
    vertical-align: inherit;
    border-color: inherit;

}
.body{
    font-family: "Arial", sans-serif;
    font-size: 12px;
    position: relative; 
}
.bluebutton-New{
    background: #001A72;
    border: none;
    height: 34px;
    line-height: 22px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    border-radius: 0;
    color: #fff;
    position: center;
    float:left;

}