/* Setting container style-size */

.container-fluid {
    width: 1280px;
    background-color: blanchedalmond;
    
}

/* Setting style for the header */
header {
    font-size: 30px;
    font-weight: 200;
    font-style: oblique;
    color: greenyellow;
    font-family: fantasy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-image: url(mystic.jpg);
    border-image-width: 100%;
}

/* Setting style for the app buttons */
.buttons {
        text-align: center;
}

/* Setting style for the description */
.description {
    text-align: center;
    text-emphasis: none;
    background-color: rgb(59, 150, 150);
    color: blanchedalmond;
}

/* Setting stle for the Tarot card container */
.astrology-section {
    text-align: center;
    /*background-image: url(creepy.jpg);*/
}


/* Setting style for the Astrology App */
.astrology-section {
    text-align: center;
}

/* Setting style for the Western Horoscope  */
.western-section {
    text-align: center;
}