/* Setting container style-size */

.container-fluid {
    width: 1280px;
}

/* Setting style for the header */
header {
    font-size: 30px;
    font-weight: 200;
    font-style: oblique;
    font-family: fantasy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-image: url(mystic.jpg);
    border-image-width: 100%;
}

/* Setting style for the app buttons */
.buttons {
        text-align: center;
}

/* Setting style for the description */
.description {
    text-align: center;
    text-emphasis: none;
    
}

/* Setting stle for the Tarot card container */



/* Setting style for the Astrology App */
.astrology-section {
    text-align: center;
}

/* Setting style for the Western Horoscope  */